.rana{   
    background-color: green;
    height: 70px;
    width: 70px;
    min-width: 30px;
    min-height: 30px;
    position: absolute;
    top: 50%;
    right: 87%;
    transform: translate(-50%, -50%);
    
}

.pantalla{
    background-color: blue;
    height: 700px;
    width: 1500px;
    margin: 0 auto;
}

.carrilsuperior{
    background-color: blue;
    border: solid 1px;
    height: 33%;
    width: 100%;
}

.carrilmedio{
    background-color: yellow;
    border: solid 1px;
    height: 33%;
    width: 100%;
}

.carrilinferior{
    background-color: red;
    border: solid 1px;
    height: 33%;
    width: 100%;
}