@font-face {
    font-family: fuente1;
    src: url(../media/fuente1.ttf);
}

html {
    cursor: url("../media/cursor1.png"), default;
    height: 100vh;
  }

body {

    /*background-image: ;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
    /* he eliminado la opacidad del body */
    /* opacity: 0.9; */
    display: flex;
    justify-content: center;

    /* fondo de pantalla */
    background-image: url(../media/fondoF.webp);

    font-family: fuente1;
    overflow: hidden;
  }

 h1{

    /* hay que meter fuente rollo pixel art */
    color: rgba(233, 223, 233, 0);
    user-select: none;
    font-size: 120px;

    -webkit-text-stroke: 1px aliceblue;

    background-image: url(../media/textura1.png);
    background-position: 40%;
    background-repeat: repeat;
    -webkit-background-clip: text;

  }

#menuDiv{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    /*background-image: ;*/
}

input{

    width: 300px;
    height: 100px;
    font-size: 50px;
    /*font-family: ;*/

    background-image: url(../media/textura1.png);
    background-position: 24%;
    border-color: aliceblue;
    color: aliceblue;
    font-family: fuente1;

}

input:hover{
    cursor: pointer;
    /* box-shadow: rgba(241, 236, 236, 0.048) 2px 2px 10px 10px; */
    scale: 1.1;
    cursor: url("../media/cursor2.png"), auto;

}

input:active{
   top: 2px;
}